{% load draw_tag_menu %}
{% load draw_sidebar %}

{% get_tag_menu %}

<hr>

<div class="button-group filters-button-group">
	<a class="btn btn-primary" href="?recent=true">recent</a>
	<a class="btn btn-primary" href="?popular=true">popular</a>
	<a class="btn btn-primary" href="?user=true">users</a>
</div>

{% get_sidebar_posts %}

<hr>

<div class="newsletter">
	<h2 class="sidebar-title">Search from post title</h2>
	<form action="{% url 'search' %}" method="GET">
		<input type="text" name="search" id="1" placeholder="search...">
		<input type="submit" value="Search">
	</form>
</div>