{% load draw_tag_menu %}
{% load draw_sidebar_posts %}

{% get_tag_menu %}

<hr>

<div class="button-group filters-button-group">
	<a class="btn btn-primary" href="?recent=true">recent</a>
	<a class="btn btn-primary" href="?popular=true">popular</a>
	<a class="btn btn-primary" href="?user=true">users</a>
</div>

{% get_sidebar_posts %}

<hr>

<div class="newsletter">
	<h2 class="sidebar-title">Subscribe To oUR nEWSLETTER</h2>
	<form action="#" method="post">
		<input type="email" name="" id="" placeholder="Email">
		<input type="submit" value="Subscribe">
	</form>
</div>